# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
.env/
.env
.vevn/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python package files
*.egg-info/
dist/
build/

# LangChain / AI artifacts
*.bin
*.ckpt
*.pt
